body {
    background-color: black;
}

.card-img-top {
    width: 30px;
    margin-right: 15px;
    padding: 3px;
    border: 1px solid lightblue;
}

code {
    color: darkorange;
    font-size: .8rem;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    
}

.bxs-info-circle {
    font-size: 0.75rem;
    color: rgb(0, 225, 255);
    margin: 2px 0px auto 2px;
}

#searchCurrency {
    margin-top: 0px;
}

.col-form-label {
    align-self: center;
}

#cclogo-footer {
    margin-bottom: 20px;
}

